{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Coté droit #}
        <div class="Apropos">

            <h3>Présentation</h3>

            <p>Je suis développeur web & mobile diplômé du titre professionnel DWWM,  j'ai acquis une expertise solide dans plusieurs technologies clés pour la programmation web. Je maîtrise parfaitement les langages de base tels que HTML, CSS pour la mise en page et la présentation des contenus. J'ai une grande expérience avec Git, un outil de versionnage très utile dans le développement collaboratif. Pour le développement dynamique des sites et applications, je suis spécialisé en PHP et JavaScript, deux langages essentiels pour créer des interfaces interactives et des fonctionnalités avancées. La gestion des données est également un aspect clé de mes compétences, grâce à ma connaissance approfondie de SQL.

            <p>Mon expérience m'a permis de maîtriser les concepts importants tels que Bootstrap, un framework CSS très populaire qui facilite grandement la mise en place de designs responsives et esthétiques. De même, le pattern MVC est pour moi une architecture fondamentale pour le développement d'applications web robustes et maintenables. La SEO, ou référencement naturel, est également un domaine que je maîtrise bien et qui est crucial pour permettre à un site d'être trouvé facilement sur les moteurs de recherche. Je suis également à l'aise avec les tâches de back-office et de sécurité, deux domaines essentiels pour la fiabilité et la sécurité d'un site web.</p>

            <p>Je suis également expérimenté avec les ORM, ou Object-Relational Mappers, qui permettent de faire le lien entre les bases de données et le code, ainsi qu'avec les API et AJAX, qui sont des technologies clés pour communiquer avec d'autres applications et services web. En plus de travailler avec Bootstrap, j'ai également une grande expérience avec d'autres frameworks tels que Symfony et son ORM Doctrine, ce qui me permet de gérer le déploiement de projets web avec efficacité.</p>

            <p>En tant que développeur web & mobile, je suis en mesure de créer des sites web et des applications mobiles hautement fonctionnels pour des entreprises de toutes tailles, dans différents secteurs d'activité. Je suis basé en Occitanie, à Carcassonne, mais je suis en mesure d'opérer partout en France.</p>

            <p>En travaillant avec moi, vous pouvez vous attendre à un service de haute qualité, qui prend en compte les dernières tendances et les meilleures pratiques de développement web. Je suis également passionné par mon travail et je suis constamment à la recherche de moyens d'améliorer mes compétences et mes connaissances en matière de développement web.</p>

            <p>Si vous cherchez à créer un site web ou une application mobile pour votre entreprise, n'hésitez pas à me contacter pour discuter de votre projet et de la façon dont je peux vous aider à le réaliser.</p>

            <div class="points">

                <div class="interets"><h4>Interets :</h4>                
                        <p>Culture générale<p>
                        <p>Histoire du monde</p>
                        <p>Plongée loisir (MF1)</p>
                        <p>Science: Ingenierie et conquetes spatiales<p>
                        <p>Etude des civilisations : Gastronomie, Histoire et Culture<p>                
                </div>
                
                <div class="formations"><h4>Formations :</h4> 

                        <h6>Bac +2 chez O’clock</h6>
                            <p>Titre professionnel développeur web & web mobile , 2022
                                <p>Technologies maîtrisées : HTML, CSS, JavaScript,PHP, Symfony & ORM</p>
                                <p>Programmation orientée objet, Développement web, Bases de données, Systèmes d'information, API</p>
                                <p>Projets : Développement d'un site web de commerce électronique, création d'une application web de gestion de tâches, développement d'un site streaming</p>
                            </p>                                   
                </div>

            </div>

        </div>
    
    </div>
    {# Skills #}
    <section id="skills" class="container text-center">
        <h4>Skills</h4>
        <div class="skill">
            <div><a href="https://fr.wikipedia.org/wiki/HTML5" target="_blank"><img src="https://img.icons8.com/ios/100/000000/css3.png" alt="icone-html"/><h5>Html/css</h5></a></div>
            <div><a href="https://getbootstrap.com/" target="_blank"><img src="https://img.icons8.com/windows/100/null/bootstrap.png" alt="icone-bootstrap"/><h5>Framework</h5></a></div>    
            <div><a href="https://www.php.net/" target="_blank"><img src="https://img.icons8.com/ios/100/000000/php-logo.png" alt="icone-PHP"/><h5>PHP</h5></a></div>
            <div><a href="https://symfony.com/" target="_blank"><img src="https://img.icons8.com/windows/100/000000/symfony.png" alt="icone-Symfony"/><h5>Symfony</h5></a></div>
            <div><a href="https://www.doctrine-project.org/" target="_blank"><img src="https://img.icons8.com/external-those-icons-lineal-those-icons/100/null/external-Doctrine-social-media-those-icons-lineal-those-icons.png" alt="icone-Doctrine"/><h5>Doctrine</h5></a></div>
            <div><a href="https://fr.wikipedia.org/wiki/SQL" target="_blank"><img src="https://img.icons8.com/external-outline-juicy-fish/100/null/external-sql-coding-and-development-outline-outline-juicy-fish.png" alt="icone-SQL"/><h5>Database</h5></a></div> 
            <div><a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_agile" target="_blank"><img src="https://img.icons8.com/fluency-systems-regular/100/null/agile.png" alt="icone-Agile"/><h5>Agile</h5></a></div>
            <div><a href="https://github.com/" target="_blank"><img src="https://img.icons8.com/glyph-neue/100/null/github.png" alt="icone-github"/><h5>GitHub</h5></a></div>
        </div>

    </section>

    {# Experience #}
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                <h2 class="sticky">Experience</h2>
                </div>


                {# Dérouler CV #}
                <div class="col-12 col-lg-8">
                    <div class="row-experience">
                        <div class="card-exp">

                            <a href="{{ path('portfolio-CityCo') }}" class="card-link">
                                <div class="card-body">
                                    <h5 class="card-subtitle mt-0 mb1">City-Connect</h5>
                                    <h6 class="card-subtitle ">BYS Connect</h6>
                                    <div class="exp-meta mb-3">2022-présent</div>
                                    <p>Etude de projet: Estimation du projet et rédaction du cahier des charges, maquettages du projet via Balsamik.</p> 
                                    <p>Etablir le MVP (minimum viable project, Methode Agile).</p>
                                    <p>Conception du projet : mise en place d'une interface utilisateur dynamique et adaptable</p>
                                    <p>Integration d'une API et son widget</p>
                                    <p>Création de la base de données et son utilisation pour communiquer avec le Front.</p>
                                    <p>Elaboration d'un back-end dynamique pour la gestion de contenu.</p>
                                    <p>Product owner & de git master</p>
                                    <div class="preview-container">
                                        <img src="{{ asset('assets/images/Home-CityCo.png') }}" class="preview img-fluid rounded" alt="Preview">
                                    </div>
                                </div>
                            </a>

                            <a href="{{ path('portfolio-CityCo') }}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet site de streaming (formation)</h5>
                                <h6 class="card-subtitle">O'clock</h6>
                                <div class="exp-meta mb-3">2022</div>
                                <p>Integration du HTML/CSS</p> 
                                <p>Dynamisation avec la base de données</p>
                                <p>Integration d'une API</p>
                                <p>Amelioration du Front-End avec des fonctionnalités de theme switcher, notations des films etc...</p>
                                <p>Securité du site</p>
                                <p>Deploiement</p>
                                <div class="preview-container">
                                    <img src="" class="preview" alt="Preview">
                                </div>
                            </div>
                            </a>

                            <a href="{{ path('portfolio-Blog') }}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet d'un blog FAQ (formation)</h5>
                                <h6 class="card-subtitle">O'clock</h6>
                                <div class="exp-meta mb-3">2022</div>
                                <p>Configurations de variables d'environement</p> 
                                <p>Chargement de Fixtures</p>
                                <p>Gestion des "voters"</p>
                                <p>Elaboration d'un espace "Admin"</p>
                                <p>Amelioration du front end avec un systeme de "j'aime"</p>
                                <p>Elaboration d'un back-end dynamique pour la gestion de contenu.</p>
                                <div class="preview-container">
                                    <img src="{{ asset('assets/images/Blog.png') }}" class="preview" alt="Preview">
                                </div>
                            </div>

                            <a href="{{ path('portfolio-Blog') }}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet site d'Ecommerce (formation)</h5>
                                <h6 class="card-subtitle">O'clock</h6>
                                <div class="exp-meta mb-3">2022</div>
                                <p>Integration du HTML/CSS</p> 
                                <p>Création d un Back-office</p>
                                <p>Dynamisation avec la base de données</p>
                                <p>Creation d'un Front-end</p>
                                <p>Securité du site</p>
                                <p>Travail en methode Agile</p>
                                <div class="preview-container">
                                    <img src="" class="preview" alt="Preview">
                                </div>
                            </div>
                            </a>

                            <a href="{{ path('portfolio-Blog') }}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet site de voyage (formation)</h5>
                                <h6 class="card-subtitle">O'clock</h6>
                                <div class="exp-meta mb-3">2022</div>
                                <p>Integration du HTML/CSS</p> 
                                <p>Creation d'un front end complet (newsletter, dark theme etc.)</p>
                                <div class="preview-container">
                                    <img src="{{ asset('assets/images/Trip1.png') }}" class="preview" alt="Preview">
                                </div>
                            </div>
                            </a>

                        </div>                    
                    </div>
                </div>
                
            </div>
        </div>
    </section>










</div>
{% endblock %}
