{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger - Portfolio{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Coté droit #}
    
    <h1>CityCo</h1>

    <div class ="description">

        <p>Ce projet de renforcement des liens entre les administrés et l’équipe municipale a été conçu avec les technologies de programmation HTML/CSS, Bootstrap et Symfony/Twig en suivant la méthode agile. L'objectif était de créer une communauté solide qui puisse affirmer les valeurs de citoyenneté. Pour atteindre cet objectif, chaque utilisateur devait pouvoir communiquer avec la mairie à l'aide d'un système de doléance. Ce système permet à l'utilisateur d'envoyer une doléance géolocalisé accompagnée d'une description et d'une photo. La mairie est informée de la doléance et peut la valider ou la rejeter. L'utilisateur peut suivre l'état de sa doléance dans son espace personnel.</p>
        
        <p>Ce projet a été conçu pour les petits villages qui n'ont pas de visibilité sur les problèmes de leur ville, tels que les décharges sauvages, les grillages abîmés sur les cours de tennis, les dysfonctionnements de l'éclairage public ou l'obstruction de la végétation dans un croisement. Pour faciliter l'utilisation de la plateforme et toucher un public plus large, nous avons conçu le site pour être le plus intuitif et le plus facile d'utilisation possible. Nous avons donc opté pour un design adaptatif qui s'adapte à toutes les formes d'affichage, y compris les mobiles, les tablettes et les ordinateurs.</p>

        <p>Pour réaliser ce projet, nous avons utilisé les technologies suivantes :</p>

        <ul>
            <li>HTML/CSS pour la création de l'interface utilisateur.</li>
            <li>Bootstrap pour la conception d'un design réactif et facilement adaptable.</li>
            <li>Twig pour la création de modèles réutilisables.</li>
            <li>Symfony pour la gestion des requêtes et des réponses de l'application en utilisant le modèle MVC.</li>
            <li>La méthode agile pour une gestion flexible et itérative du projet.</li>
            <li>Un widget météo en utilisant une API pour fournir des informations en temps réel sur les conditions météorologiques.</li>
            <li>L'API Google Map afin de facilité la geolocalisation de l'utilisateur.</li>
            <li>JavaScript pour ajouter des fonctionnalités interactives à l'interface utilisateur.</li>
            <li>Doctrine pour la gestion de la base de données qui utilise MySQL ou MariaDB.</li>
            <li>GitHub pour le contrôle de version et la collaboration avec l'équipe de développement.</li>
        </ul>

        <p>Grâce à ces technologies, ce projet a pu être réalisé de manière efficace et rapide tout en répondant aux besoins des utilisateurs de manière optimale.</p>

    </div>

    <div class="container" id="mobilcontainerCityCo">
        <div class="card">
            <img src="{{ asset('assets/images/Home-CityCo.png') }}" class="card-img-top fullscreen-img" alt="HomeCityCo">
            <div class="card-portfolio">
                <p class="card-text">Un site épuré pour une facilité d'utilisation.</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('assets/images/Admin.png') }}" class="card-img-top fullscreen-img" alt="AdminDashboard">
            <div class="card-portfolio">
                <p class="card-text">Le tableau de bord "Mairie" qui permet d'avoir accès aux dernières activités, aux dernières doléances, pour une facilité de gestion.</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('assets/images/User.png') }}" class="card-img-top fullscreen-img" alt="UserDashboard">
            <div class="card-portfolio">
                <p class="card-text">Le tableau de bord "Utilisateur" qui permet d'avoir un rapide visuel sur les doléances et leurs états.</p>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('assets/images/CityCo-Widget.png') }}" class="card-img-top fullscreen-img" alt="UserDashboard">
            <div class="card-portfolio">
                <p class="card-text">Un widget météo en utilisant une API exterieur</p>
            </div>
        </div>
        <div id="fullscreen-modal" class="fullscreen-modal">
            <span class="close-btn">&times;</span>
            <img class="modal-content" id="fullscreen-img">
        </div>
    </div>
    <a href="{{ path('portfolio') }}" class="btn btn-primary w=50% mb-3">Revenir au portfolio</a>
</div>

{% endblock %}
